.s_google_business_map {

    &.opt_1000 div:first-child {
        height: 1000px;
    }

    &.opt_500 div:first-child{
        height: 500px;
    }

    &.opt_400 div:first-child {
        height: 400px;
    }

    &.opt_300 div:first-child {
        height: 300px;
    }

    &.opt_250 div:first-child {
        height: 250px;
    }
}
